<a id="logo" href="http://www.kayak.com">
  <img id="logoimg" width="187" height="43" alt="KAYAK - Travel Deals - Cheap flights and hotels" src="http://cdn2.kayak.com/v534174/images/kayak-logo.png">
</a>
<div id="headermaintabs">
  <a id="hot-spots-link" <% if page == 'local' %> class="navselected" <% end %> href="/">Local</a>
  <a id="hot-spots-link" <% if page == 'cities' %> class="navselected" <% end %>href="/cities">Cities</a>
</div>
