<% content_for :onload do %>
  onload="initializeMap(9)" 
<% end %>
<div id='fixedWidthOuter'>
  <div id='hd'>
    <%= render partial: 'weather/head', locals: { page: 'local' } %>
  </div>
  <div id='bd'>
    <div id='bd-main' class='bdMain'>
      <div class="fdMainLeft">
        <%= render partial: 'weather/left' %>
      </div>
      <div class="fdMainRight">
        <%= render partial: 'weather/right', locals: { page: 'local' } %>
      </div>
    </div>
  </div>
</div>

<script type='text/javascript'>
   
  $(document).ready( function() {
    
    $( "#distance-slider" ).slider({
      range: "min", 
      min: 0,
      max: 30,
      value: 30,
      step: 10,
      slide: function( event, ui ) {
        $( "#distance" ).val( ui.value );
        cityCircle.setRadius(ui.value * 1609.34);
      }
    });
    $( "#distance" ).val( $( "#distance-slider" ).slider( "value" ) );
  
    $('#hot_spots_form').submit( function() {
      $('#result').empty();
      clearHotSpotMarkers();
      if ($('#virgin_promo').length) {
        $('#virgin_promo').fadeOut( function() { 
          $('#virgin_promo').remove();
          processSubmit(true);
        });
      } else {
        processSubmit(true);
      }
      return false;
    });
    
  });

</script>

<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?sensor=false&region=US">
</script>
